@import 'tailwindcss';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-chocolate: #7F5539;
  --color-latte: #B08968;
  --color-cinnamon: #DDB892;
  --color-light-brown: #E6CCB2;
  --color-light-chocolate: #EDE0D4;
  --color-dark-bg: #121212;
}

html,
body {
  @apply bg-light-chocolate dark:bg-dark-bg;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  cursor: pointer;
}
